<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>订单查看详情</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" href="../../layui/css/layui.css" media="all" />
	</head>
	<body>
	
		<br/>
		<br/>
		<form class="layui-form" id="form"> 
			<div class="layui-form-item">
		  		<div class=" layui-col-md5">
		  			<label class="layui-form-label">会员</label>
		  			<div class="layui-input-block">
		  				<input v-model="user.username" disabled="disabled" type="text" name="username"   lay-verify="" placeholder="待完善" autocomplete="off" class="layui-input">
		  			</div>
		  		</div>
		  	</div>
		  	<div class="layui-form-item">
		  		<div class=" layui-col-md5">
		  			<label class="layui-form-label">商品名称</label>
		  			<div class="layui-input-block">
		  				<input v-model="user.servicetitle" disabled="disabled" type="text"   lay-verify="" placeholder="待完善" autocomplete="off" class="layui-input">
		  			</div>
		  		</div>
		  		<div class=" layui-col-md5">
		  			<label class="layui-form-label" >店铺名称</label>
		  			<div class="layui-input-block">
		  				<input v-model="user.shopname" disabled="disabled" type="text" name="username"   lay-verify="" placeholder="待完善" autocomplete="off" class="layui-input">
		  			</div>
		  		</div>
		  	</div>
		  	<div class="layui-form-item">
		  		<div class=" layui-col-md5">
		  			<label class="layui-form-label">下单时间</label>
		  			<div class="layui-input-block">
		  				<input v-model="user.ordertime" disabled="disabled" type="text" name="username"   lay-verify="" placeholder="待完善" autocomplete="off" class="layui-input">
		  			</div>
		  		</div>
		  		<div class=" layui-col-md5">
		  			<label class="layui-form-label" >付款时间</label>
		  			<div class="layui-input-block">
		  				<input v-model="user.paymenttime" disabled="disabled" type="text" name="username"   lay-verify="" placeholder="待完善" autocomplete="off" class="layui-input">
		  			</div>
		  		</div>
		  	</div>
		  	<div class="layui-form-item">
		  		<div class=" layui-col-md5">
		  			<label class="layui-form-label">订单单价</label>
		  			<div class="layui-input-block">
		  				<input v-model="user.smallplan" disabled="disabled" type="text" name="username"   lay-verify="" placeholder="待完善" autocomplete="off" class="layui-input">
		  			</div>
		  		</div>
		  		<div class=" layui-col-md5">
		  			<label class="layui-form-label" >订单份数</label>
		  			<div class="layui-input-block">
		  				<input v-model="user.number" disabled="disabled" type="text" name="username"   lay-verify="" placeholder="待完善" autocomplete="off" class="layui-input">
		  			</div>
		  		</div>
		  	</div>
		  	<div class="layui-form-item">
		  		<div class=" layui-col-md5">
		  			<label class="layui-form-label">订单总价</label>
		  			<div class="layui-input-block">
		  				<input v-model="user.username" disabled="disabled" type="text" name="username"   lay-verify="" placeholder="待完善" autocomplete="off" class="layui-input">
		  			</div>
		  		</div>
		  		<div class=" layui-col-md5">
		  			<label class="layui-form-label" >订单积分</label>
		  			<div class="layui-input-block">
		  				<input v-model="user.integral" disabled="disabled" type="text" name="username"   lay-verify="" placeholder="待完善" autocomplete="off" class="layui-input">
		  			</div>
		  		</div>
		  	</div>
		  	<div class="layui-form-item">
		  		<div class=" layui-col-md5">
		  			<label class="layui-form-label">评论状态</label>
		  			<div class="layui-input-block">
		  				<span style="line-height: 40px;" id="commentstatus"></span>
		  			</div>
		  		</div>
		  		<div class=" layui-col-md5">
		  			<label class="layui-form-label" >退款状态</label>
		  			<div class="layui-input-block">
		  				<span style="line-height: 40px;" id="refundstatus"></span>
		  			</div>
		  		</div>
		  		</div>
		  	<div class="layui-form-item">
		  		<div class=" layui-col-md5">
		  			<label class="layui-form-label" >审核备注</label>
		  			<div class="layui-input-block">
		  			<textarea disabled="disabled" id="reason" v-model="user.remarks" required lay-verify="required" placeholder="请输入" class="layui-textarea">
		  			
		  			</textarea>
		  			</div>
		  		</div>
		  	</div>
		  	<div class="layui-form-item">
		  		<div class=" layui-col-md5">
		  			<label class="layui-form-label">订单状态</label>
		  			<div class="layui-input-block" id="auditstatus">
		  				<span style="line-height: 40px;" id="autext"></span>
	  				</div>
		  		</div>
		  	</div>
		  <div class="layui-row">
		  <label class="layui-form-label"></label>
		   	<button type="button"  class="layui-btn layui-btn-warm" onclick="window.history.go(-1);">返回</button>
		  </div>
		</form>
		
	</body>		
	<script src="../../js/jquery-1.12.4.js"></script>
	<script src="../../layui/layui.js"></script>
	<script src="../../js/vue.js"></script>
	<script>
		layui.use('form' , function () {
			var form=layui.form;
			var auditstatus=null;
			var vm=new Vue({
				el:'#form',
				data:{
					user:{}
				},
				created:function(){
					var path = window.location.search;//获取传递的参数
					var orderID = path.substr(path.indexOf('=') + 1, path.length);	//传递过来的sid
					this.getList(orderID);	
				},
				methods:{
					getList:function(orderID){
						var vm=this;
						$.getJSON('/c/ohl/orders/querySee',{'orderID':orderID},function(result){   
							vm.user=result;		//给VUE赋值
							//订单状态
							switch(result.orderstatus){
								//1待付款2待接单3待提供服务4已提供服务6服务完成6服务取消7未接单8已退款
								case 1:$("#autext").html('待付款');break;
								case 2:$("#autext").html('待接单');break;
								case 3:$("#autext").html('待提供服务');break;
								case 4:$("#autext").html('已提供服务');break;
								case 5:$("#autext").html('服务完成');break;
								case 6:$("#autext").html('服务取消');break;
								case 7:$("#autext").html('未接单');break;
								case 8:$("#autext").html('已退款');break;
							}
							//评论状态
							switch(result.commentstatus){
							//1待评价2用户已评3双方已评
							case 1:$("#commentstatus").html('待评价');break;
							case 2:$("#commentstatus").html('用户已评');break;
							case 3:$("#commentstatus").html('双方已评');break;
							default:$("#commentstatus").html('未评价');break;
							}
							//退款状态
							switch(result.refundstatus){
							//1退款申请中2不同意3申请管理员介入4管理员拒绝5退款完成6退款取消
							case 1:$("#refundstatus").html('退款申请中');break;
							case 2:$("#refundstatus").html('不同意');break;
							case 3:$("#refundstatus").html('申请管理员介入');break;
							case 1:$("#refundstatus").html('管理员拒绝');break;
							case 2:$("#refundstatus").html('退款完成');break;
							case 3:$("#refundstatus").html('退款取消');break;
							default:$("#refundstatus").html('未申请');break;
							}
						})
						$(".left10").css("margin-left","10px");
						$(".left0").css("margin-left","0px");
					}
				}
			})
			form.render();
		});
		
	</script>
</html>
