<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/css/bootstrap.css" />
		<link rel="stylesheet" href="/layui/css/layui.css"/>
	</head>
	<body>
		<blockquote class="layui-elem-quote">
			专业/学习资源管理
			
		</blockquote>
		<table class="table table-bordered" style="" id="tbody">
			<tr>
				<td style="text-align: right;">类型:</td>
				<td><select style="height: 20px;width: 100px;" v-model="Pro.category">
					<option v-for="(temp,index) in Types" :value="temp.category" v-text="temp.category==1?'专业':'学习资源'"></option>
				</select></td>
			</tr>
			<tr>
				<td style="text-align: right;">名称:</td>
				<td><input type="text" width="100px" v-model="Pro.majorname"></td>
			</tr>
			<tr>
				<td style="text-align: right;"></td>
				<td>
					<input type="button" value="保存" class="btn btn-danger" @click="add()"/>
					<input type="button" value="返回"  class="btn btn-danger" @click="fanhui()"/>
				</td>
			</tr>
		</table>
	</body>
		<script type="text/javascript" src="/js/jquery-1.12.4.js" ></script>
	<script type="text/javascript" src="/js/vue.js" ></script>
	<script type="text/javascript" src="/js/bootstrap.js" ></script>
	<script src="/layui/layui.js"></script>
	<script type="text/javascript">
		var id=window.sessionStorage.getItem("ProId");
		var vm=new Vue({
			el:"#tbody",
			data:{
				Pro:{},
				Types:{}
			},
			methods:{
				add:function(){
					$.ajax("/clm/api/updateLanguageType",{
						type:"put",
						contentType:"application/json",
						data:JSON.stringify(vm.Pro),
						dataType:"json",
						success:function(data){
							if(data.code=="200"){
								layer.msg('修改成功!!', {icon: 1});
							}else{
								layer.msg('修改失败!!', {icon: 5});
							}
						}
					})
				},
				Load:function(){
					$.getJSON("/clm/api/selectType",function(data){
						vm.Types=data;
					})
				},
				fanhui:function(){
					window.history.go(-1);
				},
				Loads:function(){
					$.getJSON("/clm/api/selectMajortypeInfo/"+id,function(data){
						vm.Pro=data;
					})
				}
			},
			created:function(){
				var vm=this;
				vm.Load();
				vm.Loads();
			}
		})
		

		layui.use('table', function() {
			var table = layui.table;
			//第一个实例
			table.render({
				elem: '#demo',
				height: 312,
				width:1400,
				url: '', //数据接口
				page: true, //开启分页
				cols: [
					[ //表头
						{
							field: 'id',
							title: '序号',
							width: 300,
							sort: true,
							fixed: 'left'
						}, {
							field: 'username',
							title: '费用名称',
							width: 300
						}, {
							field: 'sex',
							title: '分类',
							width: 300
						}, {
							field: 'city',
							title: '操作',
							width: 300
						}
					]
				]
			});
		});
	</script>
</html>
